name: vijaychess
description: Vijay chess club info and events

# The following line prevents the package from being accidentally published to
# pub.dev using `pub publish`. This is preferred for private packages.
publish_to: "none" # Remove this line if you wish to publish to pub.dev

#Git pre commit hook auto updates this patch version
version: 1.0.1+40

environment:
  sdk: ">=3.0.0 <4.0.0"

dependencies:
  carousel_slider: ^5.0.0
  cloud_firestore: ^5.0.0
  cupertino_icons: ^1.0.2
  expandable: ^5.0.1
  fake_cloud_firestore: ^3.0.0
  firebase_core: ^3.0.0
  firebase_auth: ^5.0.0
  firebase_ui_auth: ^1.0.0
  flutter:
    sdk: flutter
  flutter_linkify: ^6.0.0
  go_router: ^14.0.0
  lints: ^5.0.0
  mailto: ^2.0.0
  responsive_framework: ^1.0.0
  url_launcher: ^6.3.0
  intl: ^0.20.0
  registration:
    path: packages/registration
  flutter_form_builder: ^10.2.0
  form_builder_validators: ^11.0.0

dev_dependencies:
  integration_test:
    sdk: flutter
  flutter_test:
    sdk: flutter

# For information on the generic Dart part of this file, see the
# following page: https://dart.dev/tools/pub/pubspec
# The following section is specific to Flutter.
flutter:
  # The following line ensures that the Material Icons font is
  # included with your application, so that you can use the icons in
  # the material Icons class.
  uses-material-design: true
  # To add assets to your application, add an assets section, like this:
  assets:
    - images/
  # An image asset can refer to one or more resolution-specific "variants", see
  # https://flutter.dev/assets-and-images/#resolution-aware.
  # For details regarding adding assets from package dependencies, see
  # https://flutter.dev/assets-and-images/#from-packages
  # To add custom fonts to your application, add a fonts section here,
  # in this "flutter" section. Each entry in this list should have a
  # "family" key with the font family name, and a "fonts" key with a
  # list giving the asset and other descriptors for the font. For
  # example:
  # fonts:
  #   - family: Schyler
  #     fonts:
  #       - asset: fonts/Schyler-Regular.ttf
  #       - asset: fonts/Schyler-Italic.ttf
  #         style: italic
  #   - family: Trajan Pro
  #     fonts:
  #       - asset: fonts/TrajanPro.ttf
  #       - asset: fonts/TrajanPro_Bold.ttf
  #         weight: 700
  #
  # For details regarding fonts from package dependencies,
  # see https://flutter.dev/custom-fonts/#from-packages
