<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>453315614474-pg3g9a6da74vlh20e2rqjdmi53ej72f0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.453315614474-pg3g9a6da74vlh20e2rqjdmi53ej72f0</string>
	<key>API_KEY</key>
	<string>AIzaSyCxXJ2pSQjMqMhFJ-iKbaoPlYzAa3tU6-g</string>
	<key>GCM_SENDER_ID</key>
	<string>453315614474</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.malugu.vijaychess</string>
	<key>PROJECT_ID</key>
	<string>vijaychess-8b221</string>
	<key>STORAGE_BUCKET</key>
	<string>vijaychess-8b221.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:453315614474:ios:232ea2cf53add30fd90cf3</string>
	<key>DATABASE_URL</key>
	<string>https://vijaychess-8b221-default-rtdb.firebaseio.com</string>
</dict>
</plist>