name: Deploy to Firebase Hosting on PR
"on": pull_request
jobs:
  build_and_test:
    if: "${{ github.event.pull_request.head.repo.full_name == github.repository }}"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - uses: subosito/flutter-action@v2
        with:
          channel: stable
          flutter-version: 3.35.7
      - name: Install dependencies
        run: flutter pub get
      - name: Analyze main package
        run: flutter analyze --no-fatal-infos
      - name: Analyze registration package
        run: cd packages/registration && flutter pub get && flutter analyze --no-fatal-infos
      - name: Run unit tests
        run: flutter test packages/registration/test
      - name: Build web binary
        run: flutter build web
      - name: Build android apk
        uses: actions/setup-java@v1
        with:
          java-version: "12.x"
      - name: Download Android keystore
        id: android_keystore
        uses: timheuer/base64-to-file@v1.0.3
        with:
          fileName: key.jks
          encodedString: ${{ secrets.ANDROID_KEYSTORE_BASE64 }}
      - name: Create key.properties
        run: |
          echo "storeFile=${{ steps.android_keystore.outputs.filePath }}" > android/key.properties
          echo "storePassword=${{ secrets.ANDROID_KEYSTORE_PASSWORD }}" >> android/key.properties
          echo "keyPassword=${{ secrets.ANDROID_KEY_PASSWORD }}" >> android/key.properties
          echo "keyAlias=${{ secrets.ANDROID_KEY_ALIAS }}" >> android/key.properties
      - run: flutter build apk
  build_ios_integration_tests:
    name: Run widget and integration tests on Mac and build iOS
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v1
      - uses: actions/setup-java@v1
        with:
          java-version: "12.x"
      - uses: subosito/flutter-action@v2
        with:
          channel: stable
          flutter-version: 3.35.7
      - run: flutter pub get
      - name: Update CocoaPods specs
        run: pod repo update
      - name: Run widget tests
        run: flutter test
      - name: Build iOS app in debug mode
        run: flutter build ios --debug --no-codesign
      - uses: futureware-tech/simulator-action@v1
        with:
          model: "iPhone 12"
      - name: Run all integration tests on iOS simulator
        run: flutter test integration_test/
